<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8"></meta>
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="-1" />
	<title>HOOL</title>
	<link rel="shortcut icon" href="favicon.ico" sizes="16x16" type="image/ico"/> 
	<link rel="shortcut icon" href="favicon.png" sizes="16x16" type="image/png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"></meta>	  
	<script src="assets/plugins/angular/angular.min.js"></script>	  
	<script src="assets/plugins/angular/angular-route.js"></script>
	<script src="assets/plugins/angular/ngStorage.js"></script>	
	
	<link href="assets/css/style.css" rel='stylesheet' type='text/css' ></link>
	
	<link rel="stylesheet" href="assets/css/datagrid.css"></link>
	<link rel="stylesheet" href="assets/plugins/ng-notify/ng-notify.min.css" type="text/css"/>
	<script src="assets/js/jquery-1.9.1.min.js"></script>
	<script src="assets/js/jquery.mockjax.js"></script>
	<script src="assets/js/simple.datagrid.js"></script>
	<script src="assets/js/appwarp.min.js"></script>
	<script src="assets/plugins/ng-notify/ng-notify.min.js"></script>
</head>	  
<body  ng-app="hoolApp" ng-init="IsConfirmBoxOn = false">
	<div id="splash-screen" ng-show="isSplashOn"><img src="assets/images/logo.gif"></div>
    <ng-view ng-hide="isSplashOn">  </ng-view>
	
   	<!--To show lightbox in background-->
	<div class="lightbox-main" ng-show="IsLightBoxOn" ng-cloak></div>
	<div class="loading" ng-show="IsLoadingOn"><img src="assets/images/loading.svg" ng-cloak/></div>	
   	<!--this block of html code is written to show confirmation box to logout-->		
	<div class="main-alert-box" ng-show="IsConfirmBoxOn" ng-model="confirmbox.boxCode" ng-cloak>
		<div class="MsgBoxx1">{{confirmbox.message}}</div>
		<div class="Acpt1" ng-if="confirmbox.boxType=='confirm'" ng-click="getUserResponse(1)">{{confirmbox.btnYes}}</div>
		<div class="Rejt1" ng-if="confirmbox.boxType=='confirm'" ng-click="getUserResponse(0)">{{confirmbox.btnNo}}</div>		
	</div>

	
   <script src="assets/plugins/ng-stomp/ng-stomp.standalone.min.js"></script>
   <script src="assets/plugins/jQuery/jquery-3.1.1.min.js"></script>
   <script src="config.js"></script> 
   <script src="global.js"></script> 
   <script src="app/controllers/memberCtrl.js"></script> 
   <script src="app/controllers/mainCtrl.js"></script> 

   <script src="app/controllers/tableKbzCtrl.js"></script>  
   <script src="app/controllers/tableCtrl.js"></script>  
   <script src="app/controllers/playGameCtrl.js"></script> 
   
   <script src="app/services/memberServ.js"></script>  
   <script src="app/services/tableServ.js"></script>  
   <script src="app/services/commonServ.js"></script> 
   <script src="app/services/playgameServ.js"></script>

   <div class="lightbox-dark" id="msgBox">
		<div class="main-alert-box" ng-cloak>
			<h3 style="color:white;">Important Message !</h3>
			<p style="color:white; text-align: justify; line-height: 4vh;"><b>Hello Hooligans,</b><br/>
				We have just installed a new version of HOOL - and for this we had to do some fundamental code changes. This means all your user-ids and passwords have been cancelled.<strong> We are very sorry about this.</strong><br>	 				
				Please do a fresh sign-up. <br>				
				(Please ignore if already done.)
			</p>				
		</div>
		<div style="color:white;position:absolute;top:5vh;right:5vw;" class="btn" id="closeBtn">CLOSE</div>	
	</div> 
	
   <script>
	  $(document).ready(function(){
		  $("#closeBtn").click(function(){
			$("#msgBox").hide();
		  });
	  });

	  navigator.sayswho = (function () {
		var ua = navigator.userAgent, tem, M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
		
		if (/trident/i.test(M[1])) {
			tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
			//return 'IE ' + (tem[1] || '');					
			//return { name: 'IE ', version: (tem[1] || '') };
		}

		if (M[1] === 'Chrome') {
			tem = ua.match(/\bOPR\/(\d+)/);
			//if (tem != null) return 'Opera ' + tem[1];
			//if (tem != null) { return { name: 'Opera', version: tem[1] }; }
		}

		M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];

		if ((tem = ua.match(/version\/(\d+)/i)) != null) {
			M.splice(1, 1, tem[1]);
		}

		if(M[0] != 'Chrome' || (M[0] == 'Chrome' && M[1]<77)){	
			let ver="";
			if(M[0] == 'Chrome')	
				ver=" and your browser's current version is "+M[1];	
			alert("Currentaly HOOL is compatible with Chrome browser, version >=77"+ver);
		}
	})();	
   </script>  
</body>
</html>