<div id="ChatingArea" >
	<div class="ChatingRlst" style="overflow-y: auto; width:100vw;" schroll-bottom="messages">		
		<div ng-repeat="msg in messages" style="padding-right: 10vw;">
			<div ng-if="msg.sender==username && msg.type=='CHAT'" class="ChatingTxMe">
				<span id="MeMsg"><img ng-if="msg.content.isHost" src="assets/images/misc/Crown_dull.svg" style="width:3.33vh" /> you</span> 
				<span id="MeMsgTx">{{ msg.content.message}} </span>
			</div>
			<div ng-if="msg.sender!=username && msg.type=='CHAT'" class="ChatingTxYou">
				<span id="{{msg.content.userType=='PLAYER'?'YouMsg':'KibiMsg'}}"><img ng-if="msg.content.isHost" src="assets/images/misc/Crown_dull.svg" style="width:3.33vh" /> {{msg.sender}}</span> 
				<span id="YoueMsgTx">{{ msg.content.message }} </span>				
			</div>
		</div>
	</div>
	<div class="ChatingBox" ng-show="IsChatActive">
		<form ng-submit="sendChatMessage(chat);">
			<div class="ChatingTypeBD">
				<div class="ChatingDelete"><img ng-click="clearChatMessage()" class="btn" src="assets/images/clear.svg" style="height:3vh;margin:1.5vh;"  title="Clear Chat"> </div>
				<input type="text" class="ChatingType" ng-model="chat.message" ng-keypress="checkIfEnterKeyWasPressed($event)" placeholder="Type..."/>
			</div>
			<button type="submit" class="ChatingAro"><div id="ChatingAroX"></div></button>
		</form>
	</div>	
</div>
<div class="TpntAreaChat"></div>