
      <div id="dvbody1" ng-controller="homeCtrl" >
        <div class="logogaps">&nbsp;</div>

        <div class="hoollogos" id="2pl"> </div>
        <div class="logogaps">&nbsp;</div>

        <div class="hoollogos" id="3pl">
          <div class="dvlogos" id="logo3">
           <img class="logos" src="assets/images/HOOLAsset1mdpi.svg">
          </div>
          <div class="plays" id="Right_Icon_Three"  ng-show="three"  ng-click="playIcon('three')">
            <img class="lplay"  src="assets/images/HOOLAsset7mdpi.svg">
          </div>
        </div>

        <div class="logogaps">&nbsp;</div>
        <div class="clCreateJoin" id="Right_Icon_Two_Popup"  ng-hide="three" >
          <div class="createjointext">
            <div class="TX_Create">create</div>
            <div class="TX_Join">join</div>
          </div>  
          <div class="createjoinicons" > 
            <div class="Create_Icon"><img src="assets/images/HOOLAsset33mdpi.svg" ng-click="createTable('three')"></div>
            <div class="Join_Icon"><img src="assets/images/HOOLAsset34mdpi.svg"   ng-click="joinTable('three')"></div>
          </div>  
        </div>  
</div>