
	 <div id="joinInviteTable"  ng-controller="joinInviteCtrl">

	 	 <div id="dvbody">
			 
				<div class="Lft1">
					<div class="LeftOneArea">
						<div class="BID_Rgt_ADD">
							<div class="ADD_AICON_L btn"><img ng-click="joinOrInvite(3)" ng-src="{{imgSrcArr[3]}}"></div>
						</div>
					</div>
					<div class="L_2_Text"><div class="inner"><div class="rotateL">{{playerText[3]}}</div></div></div>
				</div>	
				
				<div class="Mdl">
					<div class="NorthPlayArea">
						<div class="BID_TOP_ADD btn" ><img  ng-click="joinOrInvite(0)" ng-src="{{imgSrcArr[0]}}"></div>
					</div>
					<div class="pname"><div class="inner"><div class="Tx_1">{{playerText[0]}}</div></div></div>


					<div class="PlayArea">
						<div class="Pointer">
							<div class="P_Tx_EW"><div class="inner1"><div class="Tx_1">W</div></div></div>
							<div class="P_Tx_MDB">
								<div class="P_Tx_N"><div class="inner1"><div class="Tx_1">N</div></div></div>
								<div class="Pointer_MD"><img src="assets/images/HOOLAsset11mdpi.svg"></div>
								<div class="P_Tx_N"><div class="inner1"><div class="Tx_1">S</div></div></div>
							</div>
							<div class="P_Tx_EW"><div class="inner1"><div class="Tx_1">E</div></div></div>
						</div>
					</div>
					<div class="pname"><div class="inner"><div class="Tx_1">{{playerText[2]}}</div></div></div>
					<div class="SauthPlayArea">
						<div class="BID_Bottom_ADD">
							<img ng-click="joinOrInvite(2)" ng-src="{{imgSrcArr[2]}}"">
						</div>
						
					</div>
				</div>
				
				
				<div class="Rgt1">
					<div class="R_2">
						<div class="BID_Rgt_ADD" >
							<div class="ADD_AICON_R"><img ng-click="joinOrInvite(1)" ng-src="{{imgSrcArr[1]}}""></div>
						</div>
						
					</div>
					<div class="R_2_Text"><div class="inner"><div class="rotateR">{{playerText[1]}}</div></div></div>
				</div>
				
				
			</div>
	 	
		
	 </div>