<div ng-switch="menuSwitch">

	<!-- profile page start-->	
		<div id="profile" ng-switch-default>			
			 <div id="HanSoloArea">
				<div class="ProfilePic"><div id="ProfilePicID"></div></div>
				<div class="ProfileTxArea">
					<div id="ProfileNameID"><div class="ProfileNameCls">Han Solo</div></div>
					<div id="ProfileNamePlr"><div class="ProfileNameCls"><span>: 30,000</span>&nbsp;&nbsp;<span>:: 40,102</span>&nbsp;&nbsp;<span>:: 6,000</span></div></div>
				</div>	
				<div class="HanSoloIconArea">
					<div id="HanSoloIcon_1"><img src="assets/images/HOOLAsset25mdpi.svg"></div>
					<div id="HanSoloIcon_2"><img src="assets/images/HOOLAsset20mdpi.svg"></div>
					<div id="HanSoloIcon_3"><img src="assets/images/HOOLAsset21mdpi.svg"></div>	
				</div>
			</div>	
			<div class="TpntArea"></div>		
		</div>

	<!-- profile page end-->


	<!-- setting page start-->

		<div id="settings" ng-switch-when="settings">			
				
			<div id="dvbody4" >
				<div class="SettingPage" >
					<div class="SettingPageSound">
						<div class="TitleTxt"><div class="TitleTextNamecl">sound</div></div>	
						<div class="TitleBXarea">
							<div id="soundon"><div class="ActiveClor">on</div></div>
							<div id="soundoff"><div class="DactiveClor">off</div></div>	
						</div>	
					</div>
					<div class="SettingPageVibration">
						<div class="TitleTxt"><div class="TitleTextNamecl">vibration</div></div>	
						<div class="TitleBXarea">
							<div id="vibrationon"><div class="DactiveClor">on</div></div>
							<div id="vibrationoff"><div class="ActiveClor">off</div></div>		
						</div>	
					</div>
					<div class="SettingPageLanguage">
						<div class="TitleTxt"><div class="TitleTextNamecl">language</div></div>	
						<div class="TitleBXarea">
							<div id="arrow_down_Lft"><div class="arrow_down"></div></div>
							<div id="LanguageTX"><div class="LanguageTXCLS">English</div></div>
							<div id="arrow_down_Rgt"><div class="arrow_down"></div></div>
						</div>	
					</div>
				</div>

			</div>		
		 </div>
	<!-- setting page end-->
</div>
