	 <div id="loginbody" ng-init="init()">
		<div class="container">
		  <div id="login">
			<form action="javascript:void(0);" ng-submit="submit()"  ng-show="!isSubmitted">
			
				<p class="bhi"><span class="email-ic"></span>
                    <input type="text" placeholder="Email" ng-model="member.email" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' 
                     required>
                </p> 
                <p  style="color:red;text-decoration: none;" ng-show="userForm.email.$dirty && userForm.email.$error.pattern">Please Enter Valid Email<p> 
				<p><input type="submit" value="Recover"></p>
				<p><a href="#!/login" style="color:white;text-decoration: none;text-align:left;">Sign In</a></p>
			 
			</form>
			 <div ng-show="isSubmitted">
					<p>{{message}}</p>
			 </div>
		  </div> 
		</div>
	</div>