
	<div id="loginbody" ng-init="init()">
		<div class="LG-New-Logo"><img class="App-Logo" src="assets/images/Hool-App-Logo.svg"></div> 
		<div class="Recover-Fld-Area">
				<form action="javascript:void(0);" name="userForm" ng-submit="userForm.$valid && submit()"  ng-show="!isSubmitted">
					<div class="Recover-Fild-Email-Area"><div class="icondvemail"><img class="imggemaill" src="assets/images/emailicon.png"></div>
						<div class="Fild">
							<div class="Fild-bdrr"><input class="ubx" type="text" ng-model="member.email" placeholder="email" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i'  required></div>
						</div>
					</div>
					<div class="RecoverEmailNotValid" ng-show="userForm.email.$dirty && userForm.email.$error.pattern">email not valid</div>
					<div class="SubmitAreaDiv">
						<div class="SgnInDivNxt">
							<span><a href="#/login"><b>sign in</b></a></span>
						</div>
						<div class="NextDiv btn"><button type="submit">recover</button></div>
					</div>
				</form>
				<div ng-show="isSubmitted">
						<p>{{message}}</p>
				</div>
		</div>
	</div>