<div id="loginbody">
		<div class="LG-New-Logo"><img class="App-Logo" src="assets/images/Hool-App-Logo.svg"></div> 
		<div class="SgnUp-Fld-Area">
			<form name="userForm"  ng-submit="userForm.$valid && register()">
				<div class="Fild-User-Area"><div class="icondv"><img class="imgg" src="assets/images/usericon.png"></div>
					<div class="Fild">
						<div class="Fild-bdrr"><input class="ubx" type="text" ng-model="member.username" placeholder="username" required></div>
					</div>
				</div>				
				<div class="Fild-Password-Area"><div class="icondv"><img class="imgg" src="assets/images/passwordicon.png"></div>
					<div class="Fild">
						<div class="Fild-bdrr"><input class="ubx" type="password"  ng-model="member.password"  placeholder="password" required ></div>
					</div>
				</div>				
				<div class="Fild-Email-Area"><div class="icondvemail"><img class="imggemaill" src="assets/images/emailicon.png"></div>
					<div class="Fild">
						<div class="Fild-bdrr"><input class="ubx" type="text" name="email" placeholder="email" ng-model="member.email" ng-pattern = '/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' required></div>
					</div>
				</div>				
				<!--<div class="EmailNotValid">email not valid</div>-->
				<div class="SubmitAreaDiv">
					<div class="SgnInDivNxt">
						<span><a href="#/login"><b>sign in</b></a></span>
					</div>
					<div class="NextDiv btn"><button type="submit">sign up</button></div>
				</div>
			</form>
		</div>			
</div>