<div id="leftal"  ng-controller="sideBarCtrl  as sb">       
      <div class="pfp">
          <div class="profile-pic"><img ng-src="assets/images/profile_icon/{{imageName}}" alt="{{loginId}}" title="{{loginId}}" /></div>
          <!-- <div id="triangle-down"></div> -->
      </div>     

      <div id="logout"  ng-click="logout()">
          <img id="imgX"  class="btn" src="assets/images/logout.svg"  title="Logout">        
      </div>     
    

      <div  class="tackback" ng-show="sidebar[4]" ng-click="TakeBack()">
        <img id="imgTakeBack" class="btn" style="opacity:1"  src="assets/images/TakeBack.svg" alt="Takeback"  title="Takeback played card">   <!--ng-src="{{TakeBackIcon}}"-->
      </div>

      <div  class="claim" ng-show="sidebar[2]" ng-click="showTricksClaimDialogueBox()">
        <img  style="opacity:1"  class="btn" src="assets/images/claim.png"  alt="claim tricks"  title="Claim">
      </div>

      <div class="history" ng-show="sidebar[3]"  ng-click="showHistory()">
        <img style="opacity:1" class="btn" src="assets/images/{{historyIcon}}.svg" alt="history"  title="History"/>
      </div>

      <div  class="chat {{blinkClass}}" ng-show="sidebar[1]" ng-click="showChat()"> 
        <img id="imgchatting"  style="opacity:1" class="btn" src="assets/images/{{chatIcon}}.svg" alt="chatting"  title="Chat">
      </div>

      <div class="back" ng-show="sidebar[0]"   ng-click="backBtnCliked()">
        <img src="assets/images/HOOLAsset10mdpi.svg" class="btn" title="Back">
      </div>     
</div> 